.post-title {
  position: absolute;
  color: var(--font-color-light);
  text-shadow: var(--text-shadow);
}
.main-content-wrapper {
  margin-top: 30px;
}
.featured-image {
  max-height: 500px;
  max-width: 100vw;
  margin: var(--space-xl) 0 var(--space-3xl) 0;
}
.featured-image h1 {
  font-size: 34px;
}
iframe {
  margin: auto;
}