:root {
  /* tokens */
  /* font-family */
  --font-body: sans-serif;
  --font-heading: "Blinker", serif;

  /* palette */
  --black-fade-5: rgba(0, 0, 0, 0.05);
  --black-fade-40: rgba(0, 0, 0, 0.4);
  --grey-90: #080C0B;
  --grey-50: #1c2826;
  --grey-20: #acafae;
  --white: #ffffff;
  --yellow: #dcab4e;
  --red: #D64550;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-rounded: 999px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --tracked: 0.075em;
  --tight: -0.015em;

  /* font-weight */
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --bolder: 900;

  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  /* role-based tokens */

  /* colors */
  --primary: var(--yellow);
  --background: var(--white);
  --background-grey: var(--grey-50);
  --background-dark: var(--grey-90);
  --border: var(--black-fade-5); 

  /* transitions */
  --transition: box-shadow 0.125s ease-in;

  /* shadows */
  --shadow: 0 7px 29px 0 hsla(240, 5%, 31%, 0.2);
  --text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

  /* text */
  /* color */
  --text-color: var(--grey-90);
  --text-color-secondary: var(--grey-50);
  --text-color-inverted: var(--white);
  /* size */
  --text-display: var(--text-2xl);
  --text-prose: var(--text-md);

  /* input */
  --input-background: var(--black-fade-5);
  --input-background-hover: var(--black-fade-5);
  --input-border: var(--black-fade-5);
  --input-text: var(--text-color);
  --input-text-disabled: var(--black-fade-40);
  --input-ui: var(--text-color-secondary);
  --input-ui-active: (--text-color);

  /* size */
  --size-input: var(--space-3xl);
  --size-gap: 12px;
  --size-gutter-raw: var(--space-2xl);
  --size-gutter: calc(var(--size-gutter-raw) - 12px);

  /* product */
  --product-grid: 1fr;

  /* content formatting */
  --default-content-width: 900px;
  --content-width-wide: 1200px;


  /* Images */
  --image-width-sm: 240px;
  --image-width-md: 370px;
  --image-width-lg: 500px;

  --font-color-light: var(--white);
  --font-color-light-grey: var(--grey-20);
  --font-color-dark: var(--grey-90);
  --font-color-grey: var(--grey-50);
  --background-color-light: var(--white);
  --background-color-light-grey: var(--grey-20);
  --background-color-dark: var(--grey-90);
  --background-color-yellow: var(--yellow);
  --background-dark-shadow: rgba(0, 0, 0, 0.1) 0px 0px 125px 100px inset;
  --mobile-trigger-width: 768px;

  --width-wide-content: 1100px;
  --width-main-content: 900px;
  --width-text-content: 600px;

  --box-shadow-nav: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;
  --box-shadow: rgba(99, 99, 110, 0.2) 0px 7px 29px 0px;

  --btn-width-md: 250px;
  --btn-width-wide: 350px;

  --linear-gradient-dark: linear-gradient(155deg, var(--grey-90) 0%, var(--grey-50) 100%);
  --linear-gradient-grey: linear-gradient(155deg, var(--grey-50) 0%, var(--grey-20) 100%);
}

/* role-based token adjustments per breakpoint */
@media (min-width: 640px) {
  :root {
    --product-grid: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  :root {
    --text-display: var(--text-3xl);
    --text-prose: var(--text-lg);
    --product-grid: repeat(2, 1fr);
    --size-gutter-raw: var(--space-3xl);
    --size-gap: var(--space-2xl);
  }
}

@media (min-width: 1280px) {
  :root {
    --product-grid: repeat(3, 1fr);
  }
}