.container {
  background-color: var(--background-color-light);
  border: none;
  border-radius: 10px;
  padding: var(--space-lg) var(--space-3xl);
  display: block;
  box-shadow: var(--shadow);
  transition: opacity .1s;
  color: var(--font-color-dark);
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-text-wrapper {
  display: flex;
  flex-direction: column;
}

.btn-small {
  text-transform: none;
  padding: var(--space-sm) var(--space-md);
  font-weight: var(--body);
  box-shadow: none;
  border: 1px solid var(--grey-20);
  color: var(--grey-50);
  font-size: 1em;
  margin: var(--space-lg) 0px;
  align-self: flex-end;
}

.btn-small:hover {
  color: var(--grey-80);
  border-color: ver(--grey-50);
}

.meta-data {
  float: right;
}

.hidden {
  display: none;
}