---
import SectionTitle from "./SectionTitle.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CardWithImage from "./CardWithImage.astro";

const fabricationServices: CollectionEntry<"capabilities">[] =
  await getCollection("capabilities", ({data}) => data.category === "Fabrication");
fabricationServices.sort((a, b) => a.data.order - b.data.order);

const props= Astro.props;
---

<section class={["main-content", props.class].join(" ")}>
  <SectionTitle title="Fabrication Capabilities" />
  <div class="services">
    <p class="text"></p>
    <div class="service-item-container">
      {
        fabricationServices.map((item) => (
          <CardWithImage item={item} />
        ))
      }
    </div>
    <a class="btn btn-yellow" href="/fabrication">To Fabrication Services</a>
  </div>
</section>

<style>
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2xl);
  }
  .service-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--space-2xl);
    justify-content: center;
    padding: var(--space-xl) 0;
  }
  .text {
    max-width: var(--width-text-content);
    margin: auto;
    font-size: var(--text-xl);
  }
  @media screen and (max-width: 768px) {
    .text {
      margin: 0 var(--space-2xl);
    }
  }
</style>
