.footer {
  padding: 5px 0;
  background-color: var(--background-color-dark);
  color: var(--font-color-light);
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer a {
  color: var(--font-color-light);
}
.footer-links {
  margin: 10px 0 20px 0;
}
.footer-links li {
  list-style-type: none;
}
.footer-links ul {
  padding: 0;
}
.footer-links a {
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.credits {
  display: flex;
  justify-content: center;
}