.menuButton {
  color: var(--text-color-secondary);
  grid-area: btnMenu;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  margin: var(--space-lg);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.menuButton:hover {
  color: var(--text-color);
}