.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 5vw;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.desktop-nav {
  display: flex;
  gap: 1.5vw;
}
.desktop-nav ul,
.mobile-nav ul {
  padding: 0;
}
.desktop-nav li,
.mobile-nav li {
  list-style-type: none;
}
.desktop-nav a,
.mobile-nav a {
  text-decoration: none;
  color: #000;
}
.desktop-nav li a {
  padding: 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.9em;
}
.desktop-nav li a:hover {
  background-color: #efefef;
}
.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--background-color-light);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: width 0.2s, height 0.2s;
}
.mobile-nav ul {
  flex-grow: 1;
  margin-bottom: 0;
}
.mobile-nav li {
  padding: 20px;
  width: 100px;
}
.mobile-nav a:hover {
  text-decoration: underline;
}
.open {
  width: 200px;
  height: 380px;
}
.closed {
  width: 50px;
  height: 50px;
  justify-content: flex-end;
}
.nav-btn-wrapper {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn-wrapper svg {
  width: 30px;
  height: 30px;
  margin: 20px;
}
.open-button, 
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.open-button:hover,
.close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .top-bar {
    justify-content: center;
    position: relative;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}